<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Alchemy.Sistem.Shell.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="modules" type="Microsoft.Practices.Prism.Modularity.ModulesConfigurationSection, Microsoft.Practices.Prism" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Alchemy.Sistem.Shell.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="MyDownloader.App.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="MyDownloader.Core.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="MyDownloader.Extension.AntiVirus.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="MyDownloader.Extension.Notifications.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="MyDownloader.Extension.Protocols.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="MyDownloader.Extension.Scheduler.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <log4net>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="LogFileAppender" />
    </root>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString">
        <converter>
          <name value="folder" />
          <type value="Alchemy.Sistem.Shell.SpecialFolderPatternConverter,Alchemy.Sistem.Shell" />
        </converter>
        <conversionPattern value="%folder{CommonApplicationData}" />
      </file>
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <param name="AppendToFile" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%newline%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>
  </log4net>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <applicationSettings>
    <Alchemy.Sistem.Shell.Properties.Settings>
      <setting name="LogFileName" serializeAs="String">
        <value>Sistem.Log</value>
      </setting>
      <setting name="AppendToLogfile" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LogCategory" serializeAs="String">
        <value>Debug</value>
      </setting>
      <setting name="ThreadOption" serializeAs="String">
        <value>PublisherThread</value>
      </setting>
    </Alchemy.Sistem.Shell.Properties.Settings>
  </applicationSettings>
  <modules>
    <module assemblyFile="Alchemy.RealTimeFeedback.dll" moduleType="Alchemy.RealTimeFeedback.Module.RealTimeFeedbackModule, Alchemy.RealTimeFeedback, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="RealTimeFeedbackModule" startupLoaded="true">
      <dependencies>
        <dependency moduleName="MessageFileModule" />
      </dependencies>
    </module>
    <module assemblyFile="Alchemy.Sistem.Kiosk.dll" moduleType="Alchemy.Sistem.Kiosk.Module.MyCoursesModule, Alchemy.Sistem.Kiosk, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="MyCoursesModule" startupLoaded="true">
      <dependencies>
        <dependency moduleName="MessageFileModule" />
        <dependency moduleName="WebserviceModule" />
      </dependencies>
    </module>
    <module assemblyFile="Alchemy.Sistem.Modes.dll" moduleType="Alchemy.Sistem.Modes.Module.ModesModule, Alchemy.Sistem.Modes, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="ModesModule" startupLoaded="true">
      <dependencies>
        <dependency moduleName="AlgorithmModule" />
        <dependency moduleName="SisConfigModule" />
        <dependency moduleName="MessageFileModule" />
      </dependencies>
    </module>
    <module assemblyFile="Alchemy.Sistem.SisConfig.dll" moduleType="Alchemy.Sistem.SisConfig.Module.SisConfigModule, Alchemy.Sistem.SisConfig, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="SisConfigModule" startupLoaded="true" />
    <module assemblyFile="Alchemy.Sistem.Status.dll" moduleType="Alchemy.Sistem.Status.Module.StatusModule, Alchemy.Sistem.Status, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="StatusModule" startupLoaded="true" />
    <module assemblyFile="Alchemy.Sistem.MessageFile.dll" moduleType="Alchemy.Sistem.MessageFile.Module.MessageFileModule, Alchemy.Sistem.MessageFile, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="MessageFileModule" startupLoaded="true">
      <dependencies>
        <dependency moduleName="SisConfigModule" />
      </dependencies>
    </module>
    <module assemblyFile="Alchemy.Sistem.XmlLinq.dll" moduleType="Alchemy.Sistem.XmlLinq.Module.XmlLinqModule, Alchemy.Sistem.XmlLinq, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="XmlLinqModule" startupLoaded="true" />
    <module assemblyFile="Alchemy.Sistem.Help.dll" moduleType="Alchemy.Sistem.Help.Module.HelpModule, Alchemy.Sistem.Help, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="HelpModule" startupLoaded="true" />
    <module assemblyFile="Alchemy.Sistem.CourseConfig.dll" moduleType="Alchemy.Sistem.CourseConfig.Module.CourseConfigModule, Alchemy.Sistem.CourseConfig, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="CourseConfigModule" startupLoaded="true">
      <dependencies>
        <dependency moduleName="ZipModule" />
        <dependency moduleName="MessageFileModule" />
      </dependencies>
    </module>
    <module assemblyFile="Alchemy.Sistem.CourseLibraryMenu.dll" moduleType="Alchemy.Sistem.CourseLibraryMenu.CourseLibraryMenuModule, Alchemy.Sistem.CourseLibraryMenu, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="CourseLibraryMenuModule" startupLoaded="true">
      <dependencies>
        <dependency moduleName="MessageFileModule" />
        <dependency moduleName="CourseConfigModule" />
      </dependencies>
    </module>
    <!-- LOAD MODULES INTO TAB-->
    <module assemblyFile="Alchemy.Sistem.Connection.dll" moduleType="Alchemy.Sistem.Connection.ConnectionModule, Alchemy.Sistem.Connection, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="ConnectionModule" startupLoaded="true">
      <dependencies>
        <dependency moduleName="AlgorithmModule" />
        <dependency moduleName="StatusModule" />
        <dependency moduleName="SisConfigModule" />
        <dependency moduleName="MessageFileModule" />
      </dependencies>
    </module>
    <module assemblyFile="Alchemy.Sistem.Remotes.dll" moduleType="Alchemy.Sistem.Remotes.Module.RemotesModule, Alchemy.Sistem.Remotes, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="RemotesModule" startupLoaded="true">
      <dependencies>
        <dependency moduleName="ConnectionModule" />
      </dependencies>
    </module>
    <module assemblyFile="Alchemy.Sistem.Player.dll" moduleType="Alchemy.Sistem.Player.PlayerModule, Alchemy.Sistem.Player, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="PlayerModule" startupLoaded="true">
      <dependencies>
        <dependency moduleName="ConnectionModule" />
        <dependency moduleName="MessageFileModule" />
      </dependencies>
    </module>
    <module assemblyFile="Alchemy.Sistem.Authentication.dll" moduleType="Alchemy.Sistem.Authentication.Module.AuthenticationModule, Alchemy.Sistem.Authentication, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="AuthenticationModule" startupLoaded="true">
      <dependencies>
        <dependency moduleName="SisConfigModule" />
        <dependency moduleName="HelpModule" />
      </dependencies>
    </module>
    <module assemblyFile="Alchemy.Sistem.Algorithm.dll" moduleType="Alchemy.Sistem.Algorithm.Module.AlgorithmModule, Alchemy.Sistem.Algorithm, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="AlgorithmModule" startupLoaded="true">
      <dependencies>
        <dependency moduleName="AuthenticationModule" />
      </dependencies>
    </module>
    <module assemblyFile="Alchemy.Sistem.Barcode.dll" moduleType="Alchemy.Sistem.Barcode.Module.BarcodeModule, Alchemy.Sistem.Barcode, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="BarcodeModule" startupLoaded="true">
      <dependencies>
        <dependency moduleName="MessageFileModule" />
      </dependencies>
    </module>
    <module assemblyFile="Alchemy.Sistem.Facilitator.dll" moduleType="Alchemy.Sistem.Facilitator.Module.FacilitatorModule, Alchemy.Sistem.Facilitator, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="FacilitatorModule" startupLoaded="true">
      <dependencies>
        <dependency moduleName="MessageFileModule" />
      </dependencies>
    </module>
    <module assemblyFile="Alchemy.Sistem.Feedback.dll" moduleType="Alchemy.Sistem.Feedback.Module.FeedbackModule, Alchemy.Sistem.Feedback, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="FeedbackModule" startupLoaded="true">
      <dependencies>
        <dependency moduleName="MessageFileModule" />
      </dependencies>
    </module>
    <module assemblyFile="Alchemy.Sistem.Zip.dll" moduleType="Alchemy.Sistem.Zip.Module.ZipModule, Alchemy.Sistem.Zip, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="ZipModule" startupLoaded="true">
      <dependencies>
        <dependency moduleName="SisConfigModule" />
      </dependencies>
    </module>
    <module assemblyFile="Alchemy.Sistem.Diagnostics.dll" moduleType="Alchemy.Sistem.Diagnostics.Module.DiagnosticsModule, Alchemy.Sistem.Diagnostics, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="DiagnosticsModule" startupLoaded="true">
      <dependencies>
        <dependency moduleName="MessageFileModule" />
        <dependency moduleName="SisConfigModule" />
        <dependency moduleName="ZipModule" />
      </dependencies>
    </module>
    <module assemblyFile="Alchemy.Sistem.LMS.dll" moduleType="Alchemy.Sistem.LMS.Module.LMSModule, Alchemy.Sistem.LMS, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="LMSModule" startupLoaded="true">
      <dependencies></dependencies>
    </module>
    <module assemblyFile="Alchemy.Sistem.TrainingRecord.dll" moduleType="Alchemy.Sistem.TrainingRecord.Module.TrainingRecordModule, Alchemy.Sistem.TrainingRecord, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="TrainingRecordModule" startupLoaded="true">
      <dependencies></dependencies>
    </module>
    <module assemblyFile="Alchemy.Sistem.CheckForUpdates.dll" moduleType="Alchemy.Sistem.CheckForUpdates.Module.CheckForUpdatesModule, Alchemy.Sistem.CheckForUpdates, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="CheckForUpdatesModule" startupLoaded="true">
      <dependencies>
        <dependency moduleName="MessageFileModule" />
        <dependency moduleName="SisConfigModule" />
      </dependencies>
    </module>
    <module assemblyFile="Alchemy.Sistem.AlchemySettings.dll" moduleType="Alchemy.Sistem.AlchemySettings.Module.AlchemySettingsModule, Alchemy.Sistem.AlchemySettings, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="AlchemySettingsModule" startupLoaded="true">
      <dependencies>
        <dependency moduleName="MessageFileModule" />
      </dependencies>
    </module>
    <module assemblyFile="Alchemy.Sistem.Reports.dll" moduleType="Alchemy.Sistem.Reports.Module.ReportsModule, Alchemy.Sistem.Reports, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="ReportsModule" startupLoaded="true">
      <dependencies>
        <dependency moduleName="MessageFileModule" />
      </dependencies>
    </module>
    <module assemblyFile="Alchemy.Sistem.SistemUpdates.dll" moduleType="Alchemy.Sistem.SistemUpdates.Module.SistemUpdateModule, Alchemy.Sistem.SistemUpdates, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="SistemUpdateModule" startupLoaded="true">
      <dependencies>
        <dependency moduleName="MessageFileModule" />
        <dependency moduleName="SisConfigModule" />
      </dependencies>
    </module>
    <module assemblyFile="Alchemy.Sistem.Main.dll" moduleType="Alchemy.Sistem.Main.Module.BMainModule, Alchemy.Sistem.Main, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="BMainModule" startupLoaded="true">
      <dependencies>
        <dependency moduleName="MessageFileModule" />
        <dependency moduleName="SisConfigModule" />
        <dependency moduleName="CheckForUpdatesModule" />
        <dependency moduleName="MessageFileModule" />
        <dependency moduleName="ModesModule" />
      </dependencies>
    </module>
    <module assemblyFile="Alchemy.Sistem.Webservice.dll" moduleType="Alchemy.Sistem.Webservice.Module.WebserviceModule, Alchemy.Sistem.Webservice, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="WebserviceModule" startupLoaded="true">
      <dependencies>
        <dependency moduleName="AlgorithmModule" />
        <dependency moduleName="SisConfigModule" />
        <dependency moduleName="MessageFileModule" />
        <dependency moduleName="CourseLibraryMenuModule" />
        <dependency moduleName="BMainModule" />
      </dependencies>
    </module>
    <module assemblyFile="Alchemy.Sistem.Course.dll" moduleType="Alchemy.Sistem.Course.Module.CourseModule, Alchemy.Sistem.Course, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="CourseModule" startupLoaded="true">
      <dependencies>
        <dependency moduleName="AlgorithmModule" />
        <dependency moduleName="SisConfigModule" />
        <dependency moduleName="ConnectionModule" />
        <dependency moduleName="CourseLibraryMenuModule" />
        <dependency moduleName="BMainModule" />
        <dependency moduleName="XmlLinqModule" />
        <dependency moduleName="MessageFileModule" />
      </dependencies>
    </module>
    <module assemblyFile="Alchemy.Sistem.User.dll" moduleType="Alchemy.Sistem.User.Module.UserModule, Alchemy.Sistem.User, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="UserModule" startupLoaded="true">
      <dependencies>
        <dependency moduleName="AlgorithmModule" />
        <dependency moduleName="SisConfigModule" />
        <dependency moduleName="ConnectionModule" />
        <dependency moduleName="CourseModule" />
        <dependency moduleName="MessageFileModule" />
      </dependencies>
    </module>
    <module assemblyFile="Alchemy.Sistem.Display.dll" moduleType="Alchemy.Sistem.Display.Module.DisplayModule, Alchemy.Sistem.Display, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="DisplayModule" startupLoaded="true">
      <dependencies>
        <dependency moduleName="MessageFileModule" />
      </dependencies>
    </module>
    <module assemblyFile="Alchemy.Sistem.Presentation.dll" moduleType="Alchemy.Sistem.Presentation.Module.PresentationModule, Alchemy.Sistem.Presentation, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="PresentationModule" startupLoaded="true">
      <dependencies>
        <dependency moduleName="UserModule" />
        <dependency moduleName="DisplayModule" />
        <dependency moduleName="MessageFileModule" />
      </dependencies>
    </module>
    <module assemblyFile="Alchemy.Sistem.ControlPanel.dll" moduleType="Alchemy.Sistem.ControlPanel.Module.ControlPanelModule, Alchemy.Sistem.ControlPanel, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="ControlPanelModule" startupLoaded="true">
      <dependencies>
        <dependency moduleName="SisConfigModule" />
        <dependency moduleName="HelpModule" />
        <dependency moduleName="UserModule" />
        <dependency moduleName="WebserviceModule" />
        <dependency moduleName="BarcodeModule" />
        <dependency moduleName="RemotesModule" />
        <dependency moduleName="FacilitatorModule" />
        <dependency moduleName="FeedbackModule" />
        <dependency moduleName="ZipModule" />
        <dependency moduleName="DiagnosticsModule" />
        <dependency moduleName="LMSModule" />
        <dependency moduleName="AuthenticationModule" />
        <dependency moduleName="DisplayModule" />
        <dependency moduleName="CheckForUpdatesModule" />
        <dependency moduleName="AlchemySettingsModule" />
        <dependency moduleName="ReportsModule" />
        <dependency moduleName="SistemUpdateModule" />
      </dependencies>
    </module>
  </modules>
  <userSettings>
    <Alchemy.Sistem.Shell.Properties.Settings>
      <setting name="Fullscreen" serializeAs="String">
        <value>True</value>
      </setting>
    </Alchemy.Sistem.Shell.Properties.Settings>
    <MyDownloader.App.Settings>
      <setting name="ViewTransDetails" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ViewToolbar" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ViewGrid" serializeAs="String">
        <value>True</value>
      </setting>
    </MyDownloader.App.Settings>
    <MyDownloader.Core.Settings>
      <setting name="MinSegmentSize" serializeAs="String">
        <value>200000</value>
      </setting>
      <setting name="MinSegmentLeftToStartNewSegment" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="RetryDelay" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="MaxRetries" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="MaxSegments" serializeAs="String">
        <value>5</value>
      </setting>
    </MyDownloader.Core.Settings>
    <MyDownloader.Extension.AntiVirus.Settings>
      <setting name="CheckFileWithAV" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AVFileName" serializeAs="String">
        <value></value>
      </setting>
      <setting name="FileTypes" serializeAs="String">
        <value>.exe;.com</value>
      </setting>
      <setting name="AVParameter" serializeAs="String">
        <value>-a</value>
      </setting>
    </MyDownloader.Extension.AntiVirus.Settings>
    <MyDownloader.Extension.Scheduler.Settings>
      <setting name="MaxJobs" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="WorkOnlyOnSpecifiedTimes" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TimesToWork" serializeAs="String">
        <value />
      </setting>
    </MyDownloader.Extension.Scheduler.Settings>
    <MyDownloader.Extension.Protocols.Settings>
      <setting name="UseProxy" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ProxyAddress" serializeAs="String">
        <value></value>
      </setting>
      <setting name="ProxyPort" serializeAs="String">
        <value>80</value>
      </setting>
      <setting name="ProxyUserName" serializeAs="String">
        <value></value>
      </setting>
      <setting name="ProxyPassword" serializeAs="String">
        <value></value>
      </setting>
      <setting name="ProxyDomain" serializeAs="String">
        <value></value>
      </setting>
      <setting name="ProxyByPassOnLocal" serializeAs="String">
        <value>True</value>
      </setting>
    </MyDownloader.Extension.Protocols.Settings>
    <MyDownloader.Extension.Notifications.Settings>
      <setting name="DownloadAddedSound" serializeAs="String">
        <value />
      </setting>
      <setting name="DownloadRemovedSound" serializeAs="String">
        <value />
      </setting>
      <setting name="DownloadEndedSound" serializeAs="String">
        <value />
      </setting>
      <setting name="ShowBallon" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="BallonTimeout" serializeAs="String">
        <value>3000</value>
      </setting>
    </MyDownloader.Extension.Notifications.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.105.2" newVersion="1.0.105.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="sistemEntities" connectionString="metadata=res://*/SistemDB.csdl|res://*/SistemDB.ssdl|res://*/SistemDB.msl;provider=System.Data.SQLite.EF6;provider connection string='data source=&quot;&quot;'" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>
</configuration>